Q1. How do you comment code in Python? What are the different types of comments?

There are two ways to comment code in python.
1) Single line comment : In this type of comment we use the hash symbol(#) and it is applicable till the end of the line.

In [1]:
# Example
# This is the code to print the "Hello World" in the output.
print("Hello World")

Hello World

2) Multi line Comment : In this type of comment we use the triple quotes (''' or """) . This allow us to write the comment in various line. We can either use Triple Single quotes or triple double quotes.

In [2]:
""" This is the multiline comment
Which allow us to write comment
over the different line """
print("Tanmay Likhar")

Tanmay Likhar

Q2. What are variables in Python? How do you declare and assign values to variables?

Variables : The name given to the storage location in computer memory. This are basically the container used to store differnt type of data such as [int,float,bool,complex,string] . This can used in program to perform certain operation on them according to need.

In [5]:
# declaration of variable
num_1 = ["pwskills",23,56.78,True,5+8j]
# In the above code the num_1 is the variable and the List on the right side is data stored in the variable.
num_1

['pwskills', 23, 56.78, True, (5+8j)]

Q3. How do you convert one data type to another in Python?

In Python, to convert the one data type into another data type we can use the type conversion technique. To perform type conversion there in bulit function such as (int,float,bool,string,complex)

In [19]:
a = 3
float(a) # It will convert the Integer to Float

3.0

In [20]:
b = 4.56 
int(b)# It will convert the Float to Integer

4

In [22]:
c = 45
str(c) # it will convert the Int to String

'45'

In [27]:
d = 8
complex(d) # It will convert the Integer to complex number

(8+0j)

Q4. How do you write and execute a Python script from the command line?
Ans : 
Step 1 : Open any text editor (Notepad,Sublime text etc) to write the python program and save the file as .py in your  system.

Step 2 : In this open the command prompt and give the input of the directory where your file is stored. For example if file is stored in the 'Document Folder' we will give the path as follow 'C:\Users\Pwskills\Document'
It will take the command prompt in the document folder.

Step 3 : To execute the code we will use the command as follow 'Python3 my_program.py' . In this command the my_program.py is the file name and Python3 is version of python avaliable on the local system.

By this following step we can execute the Python Script in the Command prompt.

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [35]:
my_list = [1,2,3,4,5]
sub_list = my_list[1:3]
sub_list

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

Complex Number in mathematics : The complex number is the combination of the real number and imaginary number.
In mathmatics the the complex number is denoted as x + yi. x and y are the number and i is used to denote the imaginary part. 

In Python the complex number is denoted as x + yj. Here, a and b are the number and j is used to denote the imgainary part.

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [37]:
# The correct way is ass follow
age = 25
age

25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [40]:
price = 9.99
price
# The data type of the variable belong to Float.

9.99

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [46]:
name = "Tanmay Govindrao Likhar"
# There are two way in jupyter notebook (i) By simply calling the variable name (ii) By using the print function
name

'Tanmay Govindrao Likhar'

In [47]:
print(name)

Tanmay Govindrao Likhar

Q10. Given the string "Hello, World!", extract the substring "World".

In [49]:
string_1 = "Hello, World!"
# To extract the sub string we will use the slicing 
string_1[7:12]

'World'

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [52]:
is_student = True
#We will use boolean value as follow
#True : Currently a student
#False : Not a student
is_student

True